body {
  margin: 0;
  font-family: 'Muli', sans-serif;
  background: -webkit-linear-gradient(right, rgb(181, 0, 248), #8f57fd);
}
.container {
  margin: 2em;
  margin-top: 0;
}

/*HEADER*/
#header {
  /* height: 29vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1 {
  text-decoration: none;
  transform: perspective(2.5em) rotateX(15deg) scaleY(0.8);
  transition: all 0.5s;
  text-transform: uppercase;
  font-size: 75px;
  font-weight: 700;
  line-height: 0.8;
  color: #fbd62a;
  text-shadow: 0 -1px 15px rgba(0, 0, 0, 0.9), 0 1px 0 #7f6303, 0 3px 0 #846703, 0 5px 0 #896b03,
    0 7px 0 #8e6f03, 0 9px 0 #937203, 0 6px 50px rgba(252, 223, 92, 0.8);
}
h1:hover {
  transform: perspective(8em) rotateX(11deg) scale(1.2);
  text-shadow: 0 -1px 15px black, 0 1px 0 adjust-hue(darken(#edc405, 22%), -3deg),
    0 2px 0 adjust-hue(darken(#edc405, 21%), -3deg), 0 0px 0 adjust-hue(darken(#edc405, 20%), -3deg),
    0 1px 0 adjust-hue(darken(#edc405, 19%), -3deg), 0 2px 0 adjust-hue(darken(#edc405, 18%), -3deg),
    0 2px 30px transparentize(lighten(#edc405, 20%), 0.4);
}
select {
  font-size: 2em;
  color: #fbd62a;
  outline: none;
  border: 0;
  border-bottom: 2px solid #555;
  border-bottom: 4px solid;
  transition: all 0.4s ease-in-out;
  background-color: transparent;
}
select:hover {
  cursor: pointer;
  /* color: #585858; */
}
option {
  border: 0;
  border-bottom: 1px solid #555;
  padding: 10px;
}
button {
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  border-radius: 10px;
  color: #fbd62a;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: bold;
  height: 40px;
  letter-spacing: 1px;
  margin: 20px 0;
  padding: 0 15px;
}

/*CONTENT*/
#body {
  /* height: 71vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}

/*SHOWS LIST*/
#shows-list {
  width: 100%;
  padding: 1em;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

/*SHOW ITEM*/
.shows-list__item {
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  flex: 0;
}
.shows-list__description {
  min-height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.shows-list__image {
  object-fit: cover;
}
.shows-list__name {
  margin: 5px 0;
  font-size: 1.1em;
  font-weight: normal;
  color: #fbd62a;
}
